version: "3.8"

services:
  shared_mysql:
    image: mysql:8.0
    platform: linux/arm64/v8
    tty: true
    #platform: linux/amd64
    container_name: shared_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: lightwave86
    volumes:
      - shared_mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    networks:
      - shared_services
    command: >
      --default-authentication-plugin=mysql_native_password
      --innodb-redo-log-capacity=0
      --character-set-server=utf8
      --collation-server=utf8_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-plightwave86"]
      timeout: 20s
      retries: 10

  shared_phpmyadmin:
    image: phpmyadmin:latest
    container_name: shared_phpmyadmin
    restart: always
    ports:
      - "5010:80"
    environment:
      UPLOAD_LIMIT: 102400000000000000
      HIDE_PHP_VERSION: 1
      PMA_HOST: shared_mysql
      PMA_PORT: 3306
    volumes:
      - ./config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
      - ./php.ini:/usr/local/etc/php/php.ini
      - ./sessions:/var/lib/php/sessions
    depends_on:
      shared_mysql:
        condition: service_healthy
    networks:
      - shared_services


volumes:
  shared_mysql_data:

networks:
  shared_services:
    external: true
