version: "3.8"

services:
  php82_base:
    image: mamun/php82-fpm-node:1.0
    build:
      context: ./docker-base/php82-fpm-node
      dockerfile: Dockerfile
    container_name: php82_base_builder
    profiles:
      - build_only # docker compose --profile build_only build
  php74_base:
    image: mamun/php74-fpm-node:1.0
    build:
      context: ./docker-base/php74-fpm-node
      dockerfile: Dockerfile
    container_name: php74_base_builder
    profiles:
      - build_only
  shared_web:
    image: php:apache
    container_name: shared_web
    restart: always
    ports:
      - "5001:80"
    volumes:
      - ./public:/var/www/html
    networks:
      - shared_services

  shared_mysql:
    image: mysql:8.0-oracle
    # image: mariadb:lts
    # platform: linux/arm64/v8
    tty: true
    # platform: linux/amd64
    container_name: shared_mysql
    restart: always
    labels:
      project: "shared resource"
      environment: local
      company: "Kazi Mamun Inc"
    env_file:
      - ./docker/env/mysql.env
    volumes:
      - shared_mysql_data:/var/lib/mysql
    
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    networks:
      - shared_services
    command: >
      --default-authentication-plugin=mysql_native_password
      --innodb-redo-log-capacity=0
      --character-set-server=utf8
      --collation-server=utf8_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-plightwave86"]
      timeout: 20s
      retries: 10

  shared_phpmyadmin:
    image: phpmyadmin:latest
    container_name: shared_phpmyadmin
    restart: always
    ports:
      - "5010:80"
    env_file: ./docker/env/phpmyadmin.env
    environment:
      - PMA_ARBITRARY=0
      - PMA_SERVER_DEFAULT=1
    volumes:
      - ./config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
      - ./php.ini:/usr/local/etc/php/php.ini
      - ./sessions:/var/lib/php/sessions
    depends_on:
      shared_mysql:
        condition: service_healthy
    networks:
      - shared_services


volumes:
  shared_mysql_data:

networks:
  shared_services:
    external: true
